<include file="Index/header" />
<body>
    <div id="wrapper">
        <include file="Index/nav" />
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">配置权限</h3>
                </div>
                <div class="col-sm-2">
                    <ol class="breadcrumb">
                        <li><a href="__APP__?c=Index">Home</a></li>
                        <li><a href="__APP__?c=Rbac&a=roleList">返回上一页</a></li>
                        <li class="active">正文</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="form-group">
                                <label for="inputname" class="col-sm-3 control-label">配置:【<span style="color: blue;font-size: 16px;">{$role.name}</span>】权限</label>
                            </div>
                            <!-- /.panel-heading -->

                            <div class="panel-body">
                                <form class="form-horizontal" id="form-checkbox">
                                    <div class="form-group">
                                        <volist name='data' id='data'>
                                        <p style="text-indent: {$data['level']*20}px;<if condition='$data.level eq 3'>float: left;margin-right: -60px;<else />clear: both;</if>">
                                            <label class ="checkbox-inline">
                                            <input type="checkbox" id="{$data.id}" name="access" value="{$data.id}_{$data.level}" pid="{$data.pid}" level="{$data.level}" <if condition="$data['access']">checked="checked"</if>>
                                            <if condition="$data.level eq 1"><span style="color:purple; font-weight:700;">【项目】</span><elseif condition="$data.level eq 2"/><span style="color: #836FFF;">【模块】</span><elseif condition="$data.level eq 3"/>【方法】</if>{$data.title}
                                            </label>
                                        </p>
                                        </volist>
                                    </div>

                                    <input type="hidden" name="role_id" value="{$role.id}">
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <button type="button" class="btn btn-default btn-primary btn-block" id="admin-botton">保存</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
var jumpUrl = {
    save_url : "__APP__?c=Rbac&a=saveAccess",
    jump_url : "__APP__?c=Rbac&a=roleList",
};

$(function(){
    //分配权限:input添加点击事件
    $('input').click(function(){
        var level = $(this).attr('level');
        //选中[项目],项目下的子节点都被选中
        if (level == 1) {
            var str = '_';
            var inputs = $('input[value*='+str+']');
            $(this).prop('checked') ? inputs.prop('checked',true) : inputs.prop('checked',false);
            // if ($(this).is(':checked')) {
            //  inputs.prop('checked', true);
            // } else {
            //  inputs.prop('checked', false);
            // }

        }
         // 选中模块,模块下的子节点都被选中
        else if (level == 2) {
            var id = $(this).attr('id');
            var pid = $(this).attr('pid');
            var inputs = $('input[pid='+id+']');
             // $(this).prop('checked') ? inputs.prop('checked',true) : inputs.prop('checked',false);
            if ($(this).is(':checked')) {
                inputs.prop('checked', true);  //模块的父节点被选中
                $('input[id='+pid+']').prop('checked',true);
            } else {
                inputs.prop('checked', false);
            }
        }
         //选中方法,方法上面的父节点都被选中
        else if (level == 3) {
            if ($(this).prop('checked')){
                var pid = $(this).attr('pid');
                $('input[id='+pid+']').prop('checked',true);

                var ppid = $('input[id='+pid+']').attr('pid');
                $('input[id='+ppid+']').prop('checked',true);
            }
        }
    });


     /**
      * @Author Seven
      * @Date   2017-05-04
      * 添加表单操作
      * 如果用form的action传递,access参数改为access[]
      */
    $("#admin-botton").click(function(){
        var data = $("#form-checkbox").serializeArray();  //序列化表格元素,返回JSON数据对象
        var role_id = $('input[name="role_id"]').val();
        postData = {};
        postData['access'] = [];
        postData['role_id'] = role_id;
        var checked = $("input[name='access']:checked");
            checked.each(function(i, input) {
                postData['access'].push($(this).val());
            });
        console.log(postData);
             url = jumpUrl.save_url;
        jump_url = jumpUrl.jump_url;
        $.post(url, postData, function(result){
            if (result.status == 1) {
                return dialog.success(result.message,jump_url);
            }
            if (result.status == 0) {
                return dialog.error(result.message);
            }
        },"JSON");
    });

});
</script>
</body>

</html>