<include file="Index/header" />

<body>

    <div id="wrapper">

        <include file="Index/nav" />

        <div id="page-wrapper">
            <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">添加权限</h3>
                    </div>
                    <div class="col-sm-2">
                        <ol class="breadcrumb">
                            <li><a href="__APP__?c=Index">Home</a></li>
                            <li><a href="__APP__?c=Rbac&a=nodeList">返回上一页</a></li>
                            <li class="active">正文</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">

                        <form class="form-horizontal" id="admin-form">
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">权限名称:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="name" class="form-control" id="inputname" placeholder="请填写权限名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">中文名称:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="title" class="form-control" id="" placeholder="请填写中文名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">开启状态:</label>
                                <div class="checkbox-inline">
                                    <input type="radio" name="status" id="option1" value="1" checked> 开启
                                    <input type="radio" name="status" id="option0" value="0"> 关闭
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">权限类型:</label>
                                <div class="col-sm-5">
                                        <select name="level" class="form-control">
                                          <option value="1">项目</option>
                                          <option value="2">模块</option>
                                          <option value="3">方法</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">父节点:</label>
                                <div class="col-sm-5">
                                        <select name="pid" class="form-control">
                                            <option value="0">所属节点</option>
                                            <volist name="list" id="list">
                                                <if condition="$list.level eq 1"><option value="{$list.id}">{$list.title}</option><else /><option value="{$list.id}">　┗ {$list.title}</option></if>
                                            </volist>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputname" class="col-sm-2 control-label">权限排序:</label>
                                <div class="col-sm-5">
                                    <input type="text" name="sort" class="form-control" id="" placeholder="请填写权限排序">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="button" class="btn btn-default btn-primary btn-block" id="admin-btn">提交保存</button>
                                </div>
                                <div class="col-xs-2">
                                    <button type="reset" class="btn btn-default btn-warning btn-block">重置</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /#wrapper -->




<script type="text/javascript">
var jumpUrl = {
    save_url : "__APP__?c=Rbac&a=addNode",
    jump_url : "__APP__?c=Rbac&a=nodeList",
};


</script>

</body>

</html>