<include file="Index/header" />

<body>

    <div id="wrapper">

        <include file="Index/nav" />

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">权限列表</h3>
                </div>
                <div class="col-sm-2">
                    <ol class="breadcrumb">
                        <li><a href="__APP__?c=Index">Home</a></li>
                        <li class="active">正文</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="input-group custom-search-form col-sm-2">
                                <button class="btn btn-default btn-primary" type="button" id="button-add">
                                    <i class="fa fa-plus"> 添加权限</i>
                                </button>
                            </span>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th width="2%">权限id_排序sort </th>
                                        <th width="3%">权限结构</th>
                                        <th width="5%">权限名称</th>
                                        <th width="3%">权限类型</th>
                                        <th width="2%">状态</th>
                                        <th width="3%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                <volist name='data' id='data'>
                                    <tr class="odd gradeX">
                                        <td>{$data.id}_{$data.sort}</td>
                                        <td>
                                            <li style="text-indent: {$data['level']*30}px;">{$data.name}</li>
                                        </td>
                                        <td>
                                            <li style="text-indent: {$data['level']*30}px;">{$data.title}</li>
                                        </td>
                                        <td>{$data.level|level}</td>
                                        <td>{$data.status|status}</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs btn-primary edit-btn" edn="{$data.id}">
                                                <i class="fa fa-edit fa-fw"></i> 编辑
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs btn-danger admin-del" user-id='{$data.id}' message='禁用' name='{$data.title}' status="{$data.status}" <if condition="$data.status eq 0">disabled="disabled"</if>>
                                                <i class=" fa fa-ban fa-fw"></i> 禁用
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs btn-success admin-del" user-id='{$data.id}' message='开启' name='{$data.title}' status="{$data.status}" <if condition="$data.status eq 1">disabled="disabled"</if>>
                                                <i class=" fa fa-check-square-o fa-fw"></i> 开启
                                            </button>
                                        </td>
                                    </tr>
                                </volist>

                                </tbody>
                            </table>

                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<script>
    var jumpUrl = {
        add_url    : "__APP__?c=Rbac&a=addNode",
        edit_url   : "__APP__?c=Rbac&a=editNode",
        delete_url : "__APP__?c=Rbac&a=setNodeStatus",
    };
</script>

</body>

</html>
