<include file="Index/header" />

<body>

    <div id="wrapper">

        <include file="Index/nav" />

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">版面一览</h3>
                </div>
                <div class="col-sm-2">
                    <ol class="breadcrumb">
                        <li><a href="__APP__?c=Index">Home</a></li>
                        <li class="active">正文</li>
                    </ol>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" id="button-add">添加推荐位</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <!-- /input-group -->
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <table width="100%" class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        <th width="3%" >Id      </th>
                                        <th width="15%">name    </th>
                                        <th width="15%">Description</th>
                                        <th width="10%">EditTime</th>
                                        <th width="4%" >Status  </th>
                                        <th width="6%" >Action  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name='list' id='list'>
                                    <tr class="odd gradeX">
                                        <td>{$list.id}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.description}</td>
                                        <td>{$list.create_time|gettime}</td>
                                        <td>{$list.status|status}</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs btn-primary edit-btn" edn="{$list.id}">
                                                <i class="fa fa-edit fa-fw"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs btn-danger admin-del" name="{$list.name}" user-id="{$list.id}">
                                                <i class=" fa fa-fw fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </volist>
                                </tbody>
                            </table>

                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<script>
    var jumpUrl = {
        add_url    : '__APP__?c=Layout&a=add',
        edit_url   : '__APP__?c=Layout&a=edit',
        delete_url : '__APP__?c=Layout&a=setStatus',
        jump_url   : '__APP__?c=Layout',
    };

</script>

</body>

</html>
