<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>Bootstrap Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Social Buttons CSS -->
    <link href="__PUBLIC__/vendor/bootstrap-social/bootstrap-social.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <!-- <link href="__PUBLIC__/vendor/morrisjs/morris.css" rel="stylesheet"> -->

    <!-- DataTables CSS -->
    <!-- <link href="__PUBLIC__/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet"> -->

    <!-- DataTables Responsive CSS -->
    <!-- <link href="__PUBLIC__/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"> -->

    <!-- jQuery Tools / jQ必须在其他引入文件之前-->
    <script src="__PUBLIC__/vendor/jquery/jquery.min.js"></script>

    <script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLIC__/vendor/metisMenu/metisMenu.min.js"></script>

	<script src="__PUBLIC__/Js/admin/common.js"></script>
   	<script src="__PUBLIC__/Js/dialog.js"></script>
	<script src="__PUBLIC__/Js/layer/layer.js"></script>

     <!-- Flot Charts JavaScript -->
   <!--  <script src="__PUBLIC__/vendor/flot/excanvas.min.js"></script>
    <script src="__PUBLIC__/vendor/flot/jquery.flot.js"></script>
    <script src="__PUBLIC__/vendor/flot/jquery.flot.pie.js"></script>
    <script src="__PUBLIC__/vendor/flot/jquery.flot.resize.js"></script>
    <script src="__PUBLIC__/vendor/flot/jquery.flot.time.js"></script>
    <script src="__PUBLIC__/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="__PUBLIC__/data/flot-data.js"></script> -->

      <!-- Morris Charts JavaScript -->
 <!--    <script src="__PUBLIC__/vendor/raphael/raphael.min.js"></script>
    <script src="__PUBLIC__/vendor/morrisjs/morris.min.js"></script>
    <script src="__PUBLIC__/data/morris-data.js"></script> -->

    <!-- DataTables JavaScript -->
 <!--    <script src="__PUBLIC__/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/vendor/datatables-responsive/dataTables.responsive.js"></script> -->
     <!-- Custom Theme JavaScript -->
    <script src="__PUBLIC__/Js/admin/sb-admin-2.js"></script>




</head>
<style type="text/css">
    .breadcrumb > li + li:before {
        color: #CCCCCC;
        content: "/ ";
        padding: 0 5px;
    }
</style>