<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="{$result.keywords}" />
    <meta name="description" content="{$result.description}" />

    <title>{$result.title}</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="__PUBLIC__/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="__PUBLIC__/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="__PUBLIC__/Css/home/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" style="background-color: #e3f2fd;font-weight: 700;font-size: 16px;" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="__APP__?c=Index">{$result.title}</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                <volist name='menu' id='menu'>
                    <!-- <li class="active"><a href="#">{$list.name}</a></li> -->
                    <li class="curr"><a href="__APP__?c=Index&menu_id={$menu.menu_id}">{$menu.name}</a></li>
                    <!-- <li><a href="__APP__?c=Index&menu_id={$menu.menu_id}" <if condition="$menu['menu_id'] eq 1">class="current"</if>>{$menu.name}</a></li> -->
                </volist>
                </ul>
            </div>
        </div>
    </nav>
    <!--HOME SECTION END-->
    <!-- <script type="text/javascript">
        $(document).ready(
            function(){
                $(".curr").click(function(){
                    // $(this).parent(".navbar-nav").find('li').removeClass("current");
                    $(this).addClass("current");
            });
        });
    </script> -->