<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fa fa-file-text"> <strong>热门文章</strong></i>
        </li>
        <foreach name='data' item='data'>
        <li class="list-group-item">
            <span class="badge">{$data.count}</span>
                <a href="__APP__?c=Detail&id={$data.news_id}">{$data.small_title}</a>
        </li>
        </foreach>

    </ul>
    <br />

   <!--  <ul class="list-group">
        <li class="list-group-item">
            <i class="fa fa-tag"> 热门标签</i>
        </li>
        <li class="list-group-item">
            <a href="#">
                <img src="assets/img/ad1.jpg" class="img-responsive" />
            </a>
        <br />
            <a href="#">
                <img src="assets/img/ad2.jpg" class="img-responsive" />
            </a>
        </li>
    </ul> -->
    <br />
</div>