<include file="Index/header" />

<body>
<div id="wrapper">
    <include file="Index/nav" />
    <script src="__PUBLIC__/Js/echarts.min.js"></script>
        <div id="page-wrapper">
            <div id="main" style="width: 600px;height:400px;">
            </div>

            <div id="cake" style="width: 600px;height:400px;">
            </div>
        </div>
</div>
<!-- /#wrapper -->
  <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        var arrayage  = [];
        var arrayname = [];

        function arrayChart(){
            $.ajax({
                type: "post",
                async: false,                 //异步执行
                url: '__APP__?c=Chart&a=showData',
                data: {},
                dataType: "json",            //返回数据形式为json
                success: function(result) {
                    if (result) {
                            arrayage  = result[0];
                            arrayname = result[1];
                    }
                }
            })

        }
        arrayChart();
        var option = {
            title : {
                text: '年龄',
                subtext: '层次',
                x:'center'
            },
            tooltip: {
                show:true
            },
            legend:{
                left: 'left',
                data:['age']
            },
            xAxis: [
                {
                    type:'category',
                    data: arrayname
                }
            ],
            yAxis:[
                {
                    type: 'value'
                }
            ],
            series:[
                {
                     name :'age',
                     type :'bar',
                     data : arrayage
                }
            ]
          }
          //为echarts对象加载数据
          myChart.setOption(option);

</script>
<script type="text/javascript">
    var myCake = echarts.init(document.getElementById('cake'));

    var arra = [];
        var arrb = [];
        // var url  = '__APP__?c=content&a=getdata';
        function arrayCake(){
            $.ajax({
                type: "post",
                async: false, //同步执行
                url: '__APP__?c=content&a=getdata',
                data: {},
                dataType: "json", //返回数据形式为json
                success: function(result) {
                    // if (result.data) {
                    //     var data = result.data;
                    //     console.log(data);
                    //     for (var i=0; i<data.length; i++) {
                    //         arr1.push(data[i].name);
                    //         arr2.push(data[i].age);
                    //     }
                    if (result) {
                        // console.log(result);
                        // for (var i=0; i<result.length; i++) {
                            arra = result[0];
                            arrb = result[1];
                        // }
                        // console.log(arra);

                    }
                }
            })
            return arra,arrb;
        }
        arrayCake();
    option = {
        title : {
            text: '站点文章',
            subtext: '内容比例',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']      //数组包含名称
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:234, name:'联盟广告'},
                    {value:135, name:'视频广告'},
                    {value:154, name:'搜索引擎'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myCake.setOption(option);

</script>
</body>
</html>