<include file="Index/header" />
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <!-- 博客主体 -->
                    <div class="blog-main">
                        <div class="heading-blog">
                            <a href="###">{$list.title}</a>
                        </div>
                        <div class="blog-info">
                            <span class="news-info">
                                <i class="fa fa-user"> {$list.username|getLoginUsername}</i>
                            </span>
                            <span class="news-info">
                                <i class="fa fa-clock-o"> {$list.create_time|date="Y-m-d H:i",###}</i>
                            </span>
                            <span class="news-info">
                                <i class="fa fa-eye"> 浏览 {$list.count}</i>
                            </span>
                        </div>
                        <div class="blog-txt">
                            {$list.content}
                        </div>
                    </div>
                    <!--博客主体 -->
                </div>

                <!-- 博客右侧栏目 -->
                <include file="Index/right" />

            </div>
        </div>
    </section>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center set-foot">
                &copy 2017 Seven |
                Email:<a href="###" target="_blank">ahzseven@outlook.com</a>
                GitHub:<a href="###" target="_blank">ahzseven</a>
            </div>
        </div>
    </div>

</body>
</html>
